[*.cs]
csharp_indent_braces=false
insert_final_newline=true
dotnet_diagnostic.CA1200.severity=suggestion
dotnet_diagnostic.CA1805.severity=suggestion

dotnet_diagnostic.CS8766.severity=silent

[*.{cs,vb}]
dotnet_diagnostic.CA1707.severity=suggestion
dotnet_diagnostic.CA1710.severity=silent
dotnet_diagnostic.CA1713.severity=suggestion
dotnet_diagnostic.CA1727.severity=warning
